*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li:hover{
    color: crimson;
}


@media screen and (min-width :400px) {
    /* medias queri desktop */
/* ------------------------------------------------------------------------------------------------------------------ */
/* -----------------------------------------------header debut------------------------------------------------------------------- */


/* ------------------------------------------------header fin------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------main abdoulaye debut----------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------main abdoulaye fin----------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
.DivC2 {
    position: relative;
    height: 500px;
    width: 50%; 
    margin-top: 10px;  
}

.SecC1 {
    display: flex;
    justify-content: space-between;
}

.DivC3 {
    padding-left: 8px;
    position: relative;
    height: 500px;
    width: 50%;
    top: 10px;
    left: 0;
}

.DivC1 {
    text-align: center;
    padding: 60px ;
    margin-left: 0px;
    
}

.monBouton2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    border: solid white;
    border-radius: 5px;
    padding: 10px;
    background: no-repeat;
}

.DivC4 {
    text-align: center;
    width: 679px;
    margin: 2% 0 5% 0;
}

.SecC2 {
    display: flex;   
}

.DivC5 {
    text-align: center;
    width: 679px;
    margin: 2% 0 5% 0;
}

.Btndeb {  
    padding: 5px;
    margin: 20px 2px;
    background-color:rgb(255,255,255);
    border-radius: 10%;
    height: auto;
    min-width: 60px;   
}

.tit1 {
    width: 96%;
    display: block;
    margin: 0 2%;
    font-size: 5vw;
    font-size: 25px;
    color: #1d1d1d;
    font-family: ArmourCD_W_Md,Arial,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}

.tit2 {
    width: 96%;
    display: block;
    margin: 0 2%;
    padding: 0;
    font-size: 45px;
    color: #1d1d1d;
    font-family: Armour_W_XBd,Arial,sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}

.Btndeb:hover {
    background-color:black;
    color: white;
}

img {
    width: 100%;
    height: 100%;
}

.tit3 {
    font-family: Armour_W_XBd,Arial,sans-serif;
    font-size: 25px;
    margin: 10px 0px 5px;
    text-align: center;
}

.tit4 {
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin: 15px 0px 5px;
    text-align: center;
}

.DivC6 {
    position: relative;
    height: 500px;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.DivC7 {
    position: relative;
    height: 50%;
    width: 50%;
    padding: 5px;  
}

.monBouton2:hover {
    background-color: white;
    color: black;
}
 
.DivC3 :hover {
    filter: brightness(0.5);
    transition: all 0.5s ease;
    opacity: 1;
}

.DivC2 :hover {
    filter: brightness(0.5);
    transition: all 0.5s ease;
    opacity: 1;
}

.DivC6 :hover {
    filter: brightness(0.5);
    transition: all 0.5s ease;
    opacity: 1;
}

@media screen and (min-width :375px){
.DivC1 {
    width:100%;
    text-align: center;
}
}

/* -------------------------------------------------main nasser debut ----------------------------------------------------------------- */

.debut {
    text-align: center;
}

.taille {
    width: 96%;
    display: block;
    margin: auto;
    padding: 0;
    font-size: 1.72vw;
    font-size: 45px;
    color: #1d1d1d;
    font-family: Armour_W_XBd,Arial,sans-serif;
    font-weight: 400;
    line-height: 1;
}

.performance {
    width: 96%;
    display: block;
    margin: auto;
    font-size: 5vw;
    font-size: 25px;
    color: #1d1d1d;
    font-family: ArmourCD_W_Md,Arial,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1;
}

.btn {
    text-align: center;
    margin: 20px 2px;
    padding: 5px;
    border-radius: 10%;
    background-color:white;
    color: black;
}

.btn:hover {
    color: white;
    background-color:black;
}

.bloc_content {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding-bottom: 20%;
}

.bloc_img1 {
    width: 30%;
    height: 250px;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    position: relative;
    font-family: Armour_W_XBd;
    font-size: 14px;
}

.bloc_img2 {
    width: 30%;
    height: 250px;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    position: relative;
    font-family: Armour_W_XBd;
    font-size: 14px;
}

.bloc_img3 {
    width: 30%;
    height: 250px;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    position: relative;
    font-family: Armour_W_XBd;
    font-size: 14px;
}

.bloc_img1 img:hover, .bloc_img2 img:hover, .bloc_img3:hover {
filter:brightness(0.5);
transition: all 0.5s ease-out;
}

.bouton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border: 1px solid white;
    color: white;
    background-color: transparent;
} 

.titre-partie1 {
    text-align: center;
    font-family: Armour_W_XBd,Arial,sans-serif;
    font-size: 25px;
    margin: 10px 0 5px;
}

.titre-part1 {
    padding: 3% 0;
    font-size: 15px;
    color: #1D1D1D;
    font-family: Arial,sans-serif;
    display: block;
    margin: 0;
    text-align: center;
}

.bouton:hover {
    color:#1d1d1d;
    background-color: white;
    transition: all 0.5s ease-out; 
}

.text1 {
    text-align: center;
    font-family: Armour_W_XBd,Arial,sans-serif;
    font-size: 25px;
    margin: 10px 0 5px;
}

.texto {
    padding: 3% 0;
    font-size: 15px;
    color: #1D1D1D;
    font-family: Arial,sans-serif;
    display: block;
    margin: 0;
    text-align: center;
}

.golf {
    text-align: center;
    font-family: Armour_W_XBd,Arial,sans-serif;
    font-size: 25px;
    margin: 10px 0 5px;
}

.chauss {
    padding: 3% 0;
    font-size: 15px;
    color: #1D1D1D;
    font-family: Arial,sans-serif;
    display: block;
    margin: 0;
    text-align: center; 
}

ul {
    list-style: none;
    font-family: Armour_W_XBd;
    width: 30%;
    font-size: 20px;
    text-align: left;
}

.bloc_contentt {
    position: relative;
    padding: 5%;
    padding-bottom: 5%;
    margin-top: 50px;
    margin-top: 15%;
}

.display {
    display: flex;
    padding-bottom: 7%;
    padding-top: 5%; 
    width: 90%;
    margin: auto; 
}

li {
    padding: 3% 0;
    font-size: 15px;
    color: #1D1D1D;
    text-align: left;
    font-family: Arial,sans-serif;
    display: block;
    margin: 0;
}

.last {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.last img {
    display: flex;
    width: 90%;
    height: 55%;
}

.entete {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.zoom:hover {
    transform: scale(1.5);
}

/* Version mobile */
@media screen and (min-width:680px){
    .debut {
        text-align: center;
    }
}

/* -------------------------------------------------main nasser fin----------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------footer debut----------------------------------------------------------------- */
    footer {
        height: auto;
        width: 100%;
        padding: 0px 10px;
        color: #1D1D1D;
        font-size: 16px;
        font-family: Arial, sans-serif;
        background-color: #eee;
    }
    .info__mobile {
        display: none;
    }
    .info__mobile li {
        padding: 0px 10px;
    }
    footer ul {
        padding: 0px 10px;
    }
    footer li {
        list-style: none;
        text-align: center;
        margin: 14px 0;
    }

    footer li:hover {
        color: crimson;
    }

    footer article{
        display: block;
        text-align: center;
        margin: 10px;
    }
    .copyR h6 {
        display: flex;
        font-style: normal;
        }

    .copyright__Container {
        display: none;
    }

    .copyright__Container1 {
        display: flex;
        padding-left: 15px;
        padding-bottom: 50px;
        font-size: smaller;
    }

    footer a {
        text-decoration: none;
        color: #1D1D1D;
        display: flex;
    }


    .form__container {
        text-align: center;
    }

    .form__container a {
        text-decoration: none;
        color: #1D1D1D;
    }

    .form__container span {
        display: none;
    }

    .maDiv {
        height: auto;
        width: auto;
        margin: 10px 47%;
        position: relative;
    }
    .footer__form--button {
        height: 44px;
        width: 13%;
        background-color: red;
        color: white;
        position: absolute;
        margin: 0px 5px;
        border-radius: 5px;
        cursor: pointer;
        vertical-align: middle;
    }

    .footer__form--button span {
        width: 80%;
    }
    .footer__form--inputMail {
        width: 40%;
        height: 44px;
        border-radius: 5px;
    }

    .icon-play {
        height: 17px;
        width: 17px;
        fill: #fff;
        vertical-align: -2px;
    }

    .footer__form {
        padding: 15px;
        text-align: center;
        font-size: smaller;
    }

    .footer__form--input {
        margin: 5px 0px 25px 0px;
        width: 80%;
    }
    .footer__form--label {
        text-align: left;
    }

    .info__container {
        display: flex;
        width: 90%;
        margin: auto;
    }

    .fa-box:before {
        content: "\f466";
        color: crimson;
        margin-right: 10px;
    }

    .fa-map-marker-alt:before {
        content: "\f3c5";
        color: crimson;
        margin-right: 10px;
    }

    .info__container ul {
        text-align: left;
        font-size: 17px;
    }

    .info__container ul li {
        text-align: left;
        font-size: 11px;
        font-family: Armour_W_Bd,Arial,sans-serif;
        color: #5a5a5a;
    }

    .list--produitAwsonne strong {
        font-size: 14px;
        color: #1d1d1d;
        font-family: Arial,sans-serif;
    }

    .info__container ul li span{
        padding-top: 10%;
    }
/* -------------------------------------------------footer fin----------------------------------------------------------------- */
}

@media screen and (max-width :400px) {
    /* medias queri telephone */
    /* -----------------------------------------------header debut------------------------------------------------------------------- */ 

    /* ------------------------------------------------header fin------------------------------------------------------------------ */
    /* ------------------------------------------------------------------------------------------------------------------ */
    
    /* ------------------------------------------------------------------------------------------------------------------ */
    /* -------------------------------------------------main abdoulaye debut----------------------------------------------------------------- */
    /* -------------------------------------------------main abdoulaye fin----------------------------------------------------------------- */
    /* ------------------------------------------------------------------------------------------------------------------ */
    
    
    /* -------------------------------------------------main nasser debut ----------------------------------------------------------------- */
    /* -------------------------------------------------main nasser fin----------------------------------------------------------------- */
    
    /* ------------------------------------------------------------------------------------------------------------------ */
    /* -------------------------------------------------footer debut----------------------------------------------------------------- */
    footer br {
        border: 5px solid black;
    }
    footer {
        height: auto;
        width: 100%;
        padding: 0px 10px;
        color: #1D1D1D;
        font-size: 16px;
        font-family: Arial, sans-serif;
        background-color: #eee;
    }
    .info {
        display: none;
    }
    .info__mobile {
        display: block;
        padding: 30px 10px;
    }
     
    .info__mobile li {
        padding: 0px 10px;
        list-style: none;
        text-align: center;
        margin: 15px;
    }
    .footer__form {
        padding: 15px;
        font-size: smaller;
    }
    .footer__form--input {
        margin: 5px 0px 25px 0px;
    }
    .footer__form--label {
        text-align: left;
    }
    .footer__form--inputMail{
        width: 80%;
        height: 44px;
        margin: 0px 10px 10px 0px;
    }
    .footer__form--button {
        height: 44px;
        width: 65px;
        background-color: crimson;
        color: white;
        position: absolute;
        margin: 0px 5px;
        border: none;
        border-radius: 4px;
    }
    .icon-play {
        height: 17px;
        width: 17px;
        fill: #fff;
        vertical-align: -2px;
    }
    footer span {
        display: none;
    }
    .form__container {
        text-align: center;
    }
        
    .form__container a {
        text-decoration: none;
        color: #1D1D1D;
    }
    .maDiv {
        height: auto;
        width: auto;
        margin: 10px;
        position: relative;
    }
    footer article {
        display: block;
        text-align: center;
        margin: 10px;
        list-style: none;
    }
        
    footer li, footer a {
        list-style: none;
        text-decoration: none;
        color: #1D1D1D;
    }
    .copyR h6 {
        text-align: center;
        font-style: normal;
    }
    
    
    footer ul {
        padding: 0px 10px;
    }
    footer li {
        list-style: none;
       text-align: center;
        padding: 10px;   
    }
    .copyright__Container1 {
        display: none;
    }
    
    /* -------------------------------------------------footer fin----------------------------------------------------------------- */
    /* ------------------------------------------------------------------------------------------------------------------ */
}